html {
    background-color: #DBDBDD;
}

header {
    margin: 0;
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: #523B22;
    font-family: Verdana;
    margin-top: auto;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    margin-top: 20px;
    margin-left: 130px;
}

nav {
    padding: 20px;
    margin-left: 1000px;
}

a {
    background-color: #7B3792;
    border-radius: 20px;
    padding: 4px 18px;
    color: black;
    font-size: 30px;
    margin: 15px;
}

#direction {
    flex-direction: row;
}

figcaption {
    margin-top: 10px;
    font-size: 25px;
}

footer {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 15px;
    width: 100%;
    height: 100%;
    height: 160px;
    background-color: #523B22;
    font-family: Verdana;
    font-size: 50px;
    text-align: center;
    margin-top: auto;
    position: absolute;
    bottom: 0%;
    color: white;
}

.index {
    margin: 0;
    padding: 0;
}

.imgind {
    margin-top: 75px;
    padding: 15px;
    text-align: center;
    width: 160px;
    background-color: #AC79CE;
    border-radius: 30px;
    margin-left: 70px;
}

.imginde {
    margin-top: 110px;
    padding: 15px;
    text-align: center;
    width: 160px;
    background-color: #AC79CE;
    border-radius: 30px;
    margin-left: 70px;
}

.exemplos {
    display: flex; 
    padding: 10px; 
    border: 2px #cccccc; 
    min-height: 200px;
    margin-bottom: 5px;
}

.detalhes {
    margin: 0;
    padding: 0;
}

.contato {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: left;
    gap: 20px;
    margin-top: 20px;
}

.imagens {
    background-color:#AC79CE;
    width: 795px;
    height: 550px;
    margin: 20px;
    color: white;
    display: flex;
    gap: 200px; 
    justify-content: left; 
    align-items: auto;
    border-radius: 30px;
}

.outrasimagens {
    background-color:#AC79CE;
    width: 750px;
    height: 300px;
    margin: 20px;
    color: white;
    display: flex;
    gap: 200px; 
    justify-content: left; 
    align-items: auto;
    padding: 5px;
    border-radius: 30px;
}

.texto {
    font-size: 30px;
    margin: 6px;
}

.imgceia {
    margin-top: 10px;
    border-radius: 15px;
}

.section {
    display: flex; 
    padding: 10px; 
    border: 2px #cccccc; 
    min-height: 200px;
    margin-bottom: 5px;
}

.contatos {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 60px;
    padding: 40px;
}

.whats {
    background: #3C134C;
    color: white;
    padding: 20px;
    width: 550px;
}

.botao {
    margin-top: 12px;
    padding: 8px 20px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
}

.imagemultima {
    text-align: center;
    width: 400px;
    border-radius: 6px;
    margin-left: 100px;
}

.frase {
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.botao {
    margin-top: 20px;
    padding: 10px 28px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 25px;
    background: #2e254f;
    color: white;
}

form {
    font-size: 25px;
}

.formu {
    font-size: 30px;
}